@CHARSET "UTF-8";
.div1{
border: solid, 2px, white;
background-color: white;
border-bottom: 25%;
}
body{
  background-color: black;

}
img{
height: 200px;

}
table{
  text-align: center;
  color: black;
  margin-left: 45%;

}
td{
  column-span: 5px;
}
a{
	text-decoration: none;
	color: black;
}
